
*{
    margin: 0;
    padding: 0;
}
.content{
    padding-left: 4px;
}

.header{
    height: 80px;
    padding-top: 10px;
}
.over{
    color: #2DA3FD;
    border-bottom: 2px solid #2DA3FD;
}
.layui-nav {
    background: #fff;
    height: 80px;
    width: 1200px;
    margin: auto;
    color: #666666;
    text-align: center;
}
.layui-nav .layui-nav-item{
    margin-left: 25px;
    cursor: pointer;
    line-height: 45px;
}
button{
    cursor: pointer;
}
.but{
    cursor: pointer;
}
.header li{
    margin-top: 10px;
}
.header .layui-nav-img{
    border-radius: 0;
    width: 154px;
    height: 49px;
    margin-top: -15px;
}
.layui-nav .layui-nav-item a{
    color: #666666;
}
.layui-nav-item button{
    height: 36px;
    width: 74px;
    border-radius:5px;
    background: #2DA3FD;
    border: none;
    outline: none;
    color: #fff;

}

.layui-nav-item .login{
    border: 1px solid #2DA3FD;background: #fff;
    /*margin-left: 93px;*/
    margin-right: 17px;
    color: #2DA3FD;
}
#test1{
    width: 100% !important;
    height: 380px !important;
}
#test1 div img{
    height: 100%;
    width: 100%;
}
.hide{
  width:260px;
    height:80px;
    background:rgba(255,255,255,1);
    box-shadow:0px 3px 10px 0px rgba(62,62,62,0.15);
    border-radius:6px;
    position: fixed;top: 100px;
    z-index: 9;
    overflow: hidden;
    padding: 22px;
    padding-top: 0;
    left: 50%;
    margin-left: -100px;
    display: none;
}
.hide div{
    float: left;
    /*margin-left: 25px;*/
    margin-top: 10px;
    cursor: pointer;
    width: 80px;
}
.Modular-nine ul .nine-img {
    margin-right: 40px;
    text-align: center;
    color: #999;
    font-size: 14px;
}
.hideover{
    color: #2DA3FD;
}
.seven-but{
    font-size: 20px;
}
.sbut1{
    background: RGBA(255, 214, 74, 1);
    margin-right: 30px;
    border: none;
    border-radius: 4px;

}
.sbut2{
    background: rgba(0,0,0,0);
    border:1px solid RGBA(255, 240, 229, 1);
    color: RGBA(255, 240, 229, 1);
    border-radius: 4px;
}
.Modular-eight .content ul{
    text-align: center;
}
.Modular-nine ul li div{
    cursor: pointer;
}

.Modular-five .type-info{
    color: #000;
    font-weight: bold;
}
.Modular-nine {
     height: 466px;
    background: #272B2E;
}
.Modular-nine ul li {
    width: inherit;
    background: #272B2E;
    margin-right: 50px;
    margin-left: 0;
    margin-top: 48px;
    height: 350px;
    text-align: left;
}
.order button{
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}
input{
    border-radius: 4px;
}
.b-but{
  cursor: pointer;
}
.price-list .but{
    color: rgb(252, 81, 81);
}
.float-div{
    position: fixed;
    bottom: 100px;
    right: 5px;
    z-index: 9;

}
.float-div div {
    /*background: #2DA3FD;*/
    /*width: 60px;*/
    /*height: 60px;*/
    text-align: center;
    border-bottom: 1px solid #fff;
    overflow: hidden;
}
.righticon{
    width: 60px;
    height: 60px;
    float: right;
}
.righticon:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.righticon1{
    /*width: 60px;*/
    /*height: 60px;*/
    /*float: right;*/
    position: absolute;
    right: 62px;
    display: none;
}
.chankan{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: rgba(45,163,253,1);
    cursor: pointer;
}
.close{
    display: none;
}
table{

    width: 1200px;
    margin: auto;
    border: 1px solid #E8E8E8;
    margin-top: 62px;
    margin-bottom: 35px;

}
.table{
    height: 500px;
    overflow: hidden;
}
.Modular-nine{
    height: 470px;
}
.Modular-nine ul li{
    height: 350px;
}
#banner1 div{
    position: relative;
}
#banner1 div p{
    background: #2CA4FE;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    color: white;
    font-size: 14px;
    position: absolute;
    left: 288px;
    bottom: 100px;
    cursor: pointer;
    /*vertical-align: middle;*/
}
#banner1 div p span{
    /*position: absolute;*/

}